.ux-maximgb-tg-level-0
{
	background-color:	#B8D4E9;
}

.ux-maximgb-tg-level-8
{
	background-color: #FFFFFF;
}

.ux-maximgb-tg-level-7
{
	background-color: #FAFFFF;
}

.ux-maximgb-tg-level-6
{
	background-color: #F4FFFF;
}

.ux-maximgb-tg-level-5
{
	background-color: #F1FBFF;
}

.ux-maximgb-tg-level-4
{
	background-color: #EEF8FC;
}

.ux-maximgb-tg-level-3
{
	background-color: #E9F4F8;
}

.ux-maximgb-tg-level-2
{
	background-color: #E3EDF2;
}

.ux-maximgb-tg-level-1
{
	background-color:	#D4E1F2;
}