
{% extends 'base_177.html' %}
{% load staticfiles %}
{% block title %}模块管理{% endblock %}

{% block content %}

        <link rel="stylesheet" href="{% static 'plugin/angular/angular-material/angular-material.min.css' %}" />
        <link rel="stylesheet" href="{% static 'plugin/angular/angular-ui-grid/ui-grid.css' %}">
	<div>
	    <section class="content-header cont-header">
	        <h1 class="cont-header-title user-list-titel">
	           模块管理
	        </h1>
	    </section>
	    <section class="content mod-content">
        <div  ng-app="modulelist" ng-controller="moduleController"  class="row" id="modulelist">
            <div class="col-xs-12">
                <div class="box">
<!--                     <div class="box-header">
                        <div class="row">
                            <div class="form-group col-lg-3 col-md-4">
                                <label for="firstname" class="col-md-5 col control-label">模块名</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="name"
                                        ng-model="param.name" ng-change="queryList(1)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button class="btn btn-md btn-primary" ng-click="add()">
                                    <span class="glyphicon glyphicon-plus"></span> 添加
                                </button>
                            </div>
                        </div>
                    </div> -->
                    <div class="box-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <div id="grid1" ui-grid="gridOptions" ui-grid-tree-view class="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>
    <script src="{% static 'plugin/angular/angular-aria/angular-aria.js' %}"></script>
    <script src="{% static 'plugin/angular/angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'plugin/angular/angular-messages/angular-messages.js' %}"></script>
    <script src="{% static 'plugin/angular/angular-material/angular-material.min.js' %}"></script>

    <script src="{% static 'js/utils.js' %}?v={{ nowversion }}1"></script>
    <script src="{% static 'plugin/angular/angular-ui-grid/ui-grid.js' %}"></script>
    <script src="{% static 'plugin/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'plugin/angular/angular-dragdrop/angular-dragdrop.js' %}"></script>
    <script src="{% static 'system/module/index.js' %}?v={{ nowversion }}1"></script>
{% endblock %}