 {% extends 'base.html' %} {% load staticfiles %} {% block title %}登录页配置{% endblock %} {% block content %} {% verbatim %}
<style>
.searchboxstyle{
    padding-left: 0px;
}
.importbuttonstyle{
    float: left;
    padding-left: 20px;
}
.importDtCountStyle{
    display: inline-block;
    min-width: 240px;
    position: relative;
    top: 2px;
}
.logshowarea{
    height: 150px;
    width:100%;
    overflow-y:scroll
}
.tbodystyle{
    height: 250px;
    overflow-y:scroll;
}
.upWarning{
    color:red;
    padding-left: 20px;
}
.myxbtn{
    height: 27px;
}

</style>
<section class="content-header cont-header">
    <h1 class="cont-header-title user-list-titel" style="display: inline-block">
        登录页配置
    </h1>
</section>
<div class="col-sm-12 user-list" ng-app="loginpage">
    <div class="box" ng-controller="loginpageController">
        <div class="box-body user-list-body" style="padding-bottom: 0px">
            <div class="importbuttonstyle">
                <div class="importDtCountStyle">
                    <!--<button class="btn btn-default"  ng-click="openhomepageconf()">新增</button>-->
                    <span style="display: inline-block">新增：</span>
                    <input type="file" id="importDataFile" ng-model="importDataFile" onchange="angular.element(this).scope().validfile(this)" style="padding-top: 3px;padding-left: 3px;display: inline-block">
                    <button class="btn btn-default" type="button" ng-click="uploadPkFile()">上传</button>
                    <button style="padding-right: 50px;padding-left: 50px" class="btn btn-default" type="button" ng-click="downloadfile()">下载模板</button>
                </div>

                <hr>

                <span class="upWarning">{{ msg }}</span>
            </div>
        </div>
        <div class="box-body user-list-body" style="padding-top: 0px">
            <div class="table" ng-repeat="loginobj in loginobjs">

                        <div style=" width: 330px;height: 250px; float: left;margin-right:30px;margin-bottom: 20px" ng-mouseenter="show = true" ng-mouseleave="show = false">
                            <img src="{{ loginobj.showimage }}" style="width: 320px;height: 240px">
                            <div ng-show="show"  style=" position: relative; left: 75px;bottom: 220px; width: 180px;height: 180px;background: #3D3D3D;opacity: 0.5;" align="center" >
                                <ul style="position: relative;top: 8%">
                                    <li style="margin-bottom:25px;"><button ng-click="setloginpage(loginobj.id,1)" class="btn btn-default">设置为后台登录</button></li>
                                    <li style="margin-bottom:25px"><button ng-click="setloginpage(loginobj.id,2)" class="btn btn-default">设置为前台登录</button></li>
                                    <li style="margin-bottom:25px"><button ng-click="setloginpage(loginobj.id,3)" class="btn btn-default">设置为全部登录</button></li>
                                </ul>
                            </div>
                        </div>
            </div>

             <div class="col-md-12">
                <ul uib-pagination next-text='下一页 ' previous-text='上一页' total-items="totalItems" ng-model="currentPage" max-size="5" class="pagination-sm"
                    boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>成功!</strong> 指定操作成功提示信息。
  </div>


    </div>
</div>
{% endverbatim %}
<script src="{% static 'plugin/jquery/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'plugin/angular/angular-dragdrop/angular-dragdrop.js' %}"></script>
<script src="{% static 'system/importdata/loginpageconfig.js' %}?v={{ nowversion }}1"></script>


 {% endblock %}