{% verbatim %}
<style>
    .hideLongText{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<div class="modal-header open-header">
    <h3 class="modal-title open-header-title">修改</h3>
   <!--弹出框的关闭按钮-->
    <button type="button" ng-click="cancel()"  class="close open-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body" style="height: 500px;overflow-y: auto;padding:36px;">
	<form action="#" class="form-horizontal clearfix" method="post">
		<div class="form-group clearfix">
				<label for="title" class="col-sm-4 ">表名</label>
				<label for="title" class="col-sm-5 ">显示名称</label>
				<label for="title" class="col-sm-3 ">是否显示</label>
		</div>
		<div class="form-group clearfix" ng-repeat="(key3, value3) in list track by key3">
		    <label for="title" class="col-sm-4 hideLongText" title="{{value3.table}}">{{value3.table}}</label>
		    <div class="col-sm-5">
		       <input type="text" class='form-control' name="title" ng-model="list[key3].tablename">
		    </div>
		    <div class="col-sm-3">
		       <input type="radio" ng-model="value3.ifshow" name="{{ value3.table }}" value="1"> 是
		       <input type="radio" ng-model="value3.ifshow" name="{{ value3.table }}" value="0"> 否
		    </div>
		</div>
    </form>
</div>

<div class="modal-footer footer-btn">
    <button class="btn btn-primary btn-ok" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">取消</button>
</div>
{% endverbatim %}