{% verbatim %}
<div class="modal-header open-header">
    <h3 class="modal-title open-header-title">表结构</h3>
    <!--弹出框的关闭按钮-->
    <button type="button" ng-click="cancel()" class="close open-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table data-height="500" class="table table-border" id="structure">
    </table>
</div>

<div class="modal-footer footer-btn">
    <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">关闭</button>
</div>
{% endverbatim %}