 {% extends 'base.html' %} {% load staticfiles %} {% block title %}组件管理{% endblock %} {% block content %}
<style>
    .btn-group{
        width: 100% !important;
    }
    .modal-super-lgs { width: 94%; }
</style>
<link rel="stylesheet" href="{% static 'plugin/bootstrap-select/bootstrap-select.min.css' %}"/>
<div>
    <section class="content-header cont-header">
        <h1 class="cont-header-title">
            组件管理
        </h1>
    </section>

    <section class="content cont-body" ng-app="grouplist">
        <div ng-controller="roleManagerListCtrl" class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body">
                        <div  class="col-md-3">
                            <a class="btn btn-default btn-usermanage" ng-click="add()" >
                                <i class="fa fa-plus"></i> 新增
                            </a>
                        </div>
                        <div class="col-md-offset-6 col-md-3">

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <select selectpicker ng-model="param.dtype" onchange="angular.element(this).scope().selChange()" multiple ng-options="ty.id as ty.name for ty in dtypes">
                                    </select>
                                </div>
                                <!--<label for="firstname" class="col-sm-2 control-label cont-body-labelid">组件名</label>-->
                                <div class="col-md-6 cont-body-tabinput" style="margin-left: 0px">
                                    <input type="text" class="form-control  cont-bodyfrom-input" id="name" ng-model="param.name" ng-change="queryList(1)" placeholder="搜索">
                                </div>
                                <!--<button class="btn btn-search" type="button" ><i class="fa fa-search icon-fa"></i>查询</button>-->
                            </div>

                        </div>
                        <div class="dataTables_wrapper form-inline dt-bootstrap col-md-12 olaplist">
                            <table class="table table-bordered table-hover" id="gridData">
                                <thead class="table-head">
                                    <tr>
                                        <th style="text-align: center;">组件名</th>
                                        <th style="text-align: center;">类型</th>
                                        <th style="text-align: center;">关键字</th>
                                        <th style="text-align: center;">创建人</th>
                                        <th style="text-align: center;">创建时间</th>
                                        <th style="text-align: center;min-width: 238px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in pagination.data">
                                        <td style="text-align: center;" ng-bind="item.name"></td>
                                        <td style="text-align: center;" ng-bind="item.kind"></td>
                                        <td style="text-align: center;">
                                            <label title="{[{ item.keywords }]}" ng-bind="item.keywords | limitTo : 15"></label>
                                        </td>
                                        <td style="text-align: center;" ng-bind="item.createname"></td>
                                        <td style="text-align: center;" ng-bind="item.createtime"></td>
                                        <td>
                                            <div class="buttons" style="text-align: center;">
                                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="permissionSet(item)">授权</button>
                                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="chartSet(item)" style="display:none;">测试</button>
                                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="editInfo(item)">编辑</button>
                                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="personSet(item)">预览</button>
                                                <button class="btn btn-danger  editable-table-button btn-xs" ng-click="removeRow(item)">删除</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info">
                                        <label>每页显示条数：
                                            <select data-ng-model="count" name="count" id="count" ng-change="queryList(1)">
                                                <option class="form-control" value="7">7</option>
                                                <option class="form-control" value="10" selected="selected">10</option>
                                                <option class="form-control" value="20">20</option>
                                                <option class="form-control" value="50">50</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers right">
                                        <ul style="margin: 0px;" next-text='下一页 ' previous-text='上一页' uib-pagination total-items="totalItems" first-text="«" rotate="false"
                                            last-text="»" previous-text="上一页" next-text="下一页" ng-change="queryList(page)" ng-model="page"
                                            items-per-page="count" class="pagination-sm" boundary-links="true" boundary-link-numbers="true"
                                            max-size="currentPageNum">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="myModalSetP.html">
                <div class="modal-header">
                    <h3 class="modal-title">预览</h3>
                </div>
                <div class="modal-body" ng-show="charttype== 'vega'" id="vis">
                </div>
                <div class="modal-body" ng-show="charttype== 'echarts'" id="ecvis">
                    
                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                </div>
            </script>
            <script type="text/ng-template" id="myModalSetPermission.html">
                <div class="modal-header open-header">
                        <h3 class="modal-title open-header-title">人员授权</h3>
                        <button type="button" ng-click="cancel()" class="close open-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body open-body">
                        <form class="form-horizontal" id="userform" name="userform">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label form-lable">图表名称</label>
                                <div class="col-sm-10 form-input">
                                    <input type="text" id="id" name="id" style="display:none;" ng-model="group.id">
                                    <input type="text" disabled class="form-control" id="name" name="name" ng-model="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label form-lable">相关人员</label>
                                <div class="col-sm-10 form-input">
                                    <div style="float:left;width:200px;">
                                        <p class="form-lable-p">所有人员</p>
                                        <select style="width:200px;height:200px;" name="allusers" class="filtered" id="allusers" multiple="multiple" ng-model="selusers"
                                            ng-options="user.username for user in allusers" ng-dblclick="add()">
                                        </select>
                                    </div>
                                    <div style="float:left;width:50px;padding-left: 5px;margin-top: 58px;">
                                        <br>
                                        <div><a title=">>" href="#" id="id_user_add_link" ng-click="add()"> 添加<span class="glyphicon glyphicon-arrow-right"></span></a></div><br>
                                        <div><a title="<<" href="#" id="id_user_remove_link" ng-click="remove()"> 移除<span class="glyphicon glyphicon-arrow-left"></span></a></div>
                                    </div>
                                    <div style="float:left;width:200px;">
                                        <p class="form-lable-p">已授权人员</p>
                                        <select style="width:200px;height:200px;" id="selusers" multiple="multiple" size="0" name="selusers" ng-model="seledusers"
                                            ng-options="user.username for user in users" ng-dblclick="remove()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer footer-btn">
                        <button class="btn btn-primary btn-ok" type="button" ng-click="ok()">保存</button>
                        <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">取消</button>
                    </div>
                </script>

            <script type="text/ng-template" id="myModaltest.html">
                <iframe id="configiframe" style="width:100%;height:calc(100vh - 120px);" src="/dashboard/chartdesign?ismodal=t" frameborder="0"></iframe>
                    <div class="modal-footer footer-btn">
                        <button class="btn btn-primary btn-ok" type="button" ng-click="ok()">保存</button>
                        <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">取消</button>
                    </div>
            </script>

        </div>
    </section>
    <script src="{% static 'plugin/datalib/datalib.js' %}"></script>
    <script src="{% static 'plugin/echarts/echarts.min.js' %}"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=Wuh7Oy6carflwquDvNZ3lGzY"></script>
    <!-- 生成地图所需其他包 -->
    <script src="{% static 'js/map/china.js' %}"></script>
    <!-- 百度地图扩展包 -->
    <script src="{% static 'js/map/bmap.min.js' %}"></script>
    <!-- 各省市的地理坐标 -->
    <script src="{% static 'js/map/coordinate.js' %}"></script>
    <script src="{% static 'js/echart.tool.js' %}"></script>
    <script src="{% static 'plugin/echarts/echarts-wordcloud.min.js' %}"></script>
    <!--添加弹出框拖拽效果-->
    <script src="{% static 'plugin/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'plugin/angular/angular-dragdrop/angular-dragdrop.js' %}"></script>

    <script src="{% static 'plugin/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugin/angular/angular-bootstrap-select/angular-bootstrap-select.min.js' %}"></script>

    <script src="{% static 'dashboard/chart/index.js' %}?v={{ nowversion }}1"></script>
</div>
{% endblock %}