{% verbatim %} 
<div class="modal-header open-header">
    <h3 class="modal-title open-header-title">保存</h3>
   <!--弹出框的关闭按钮-->
    <button type="button" ng-click="cancel()"  class="close open-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <form action="#" class="form-horizontal clearfix" method="post">
       <input type="text" class="hide" name="id" ng-model="config.id">
       <div class="form-group clearfix">
            <label for="title" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10 form-input-add">
               <input type="text" name="title" ng-model="config.title" class="form-control">
            </div>
        </div>
        <div class="form-group clearfix">
            <label for="kind" class="col-sm-2 control-label">类别</label>
            <div class="col-sm-10">
                <select ng-model="config.kind" id="kind" name="kind" style="width:150px;" class="form-control">
                    <option ng-repeat="x in kinds" value="{{ x.code }}">{{x.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group clearfix">
            <label for="desc" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10 form-input-add">
               <input type="text" name="desc" ng-model="config.desc" class="form-control">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer footer-btn">
    <button class="btn btn-primary btn-ok" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">取消</button>
</div>
{% endverbatim %}