{% load staticfiles %}
<link rel="stylesheet" href="{% static 'newdashboard/toolbar-default.css'  %}?v={{ nowversion }}1">
<link rel="stylesheet" href="{% static 'newdashboard/newdashboard.css'  %}?v={{ nowversion }}1">
<link rel="stylesheet" href="{% static 'plugin/angular/angular-bootstrap-colorpicker/colorpicker.min.css'  %}">

{% verbatim %}

<style>
    .modal-super-lgs { width: 94%; height:94%;}
    .chartsSize{
        height: 200px;
        width: 600px;
        margin: 5px;
    }
    .selfDesignCodeToolBarStyle{
        margin-top: -15px;
    }
    .labelTitle{
        padding-top: 7px;
        margin-left: 5px;
    }
    .global-config{/*覆盖global-config的left属性，让弹出框显示在中央*/
        left: 25%;
    }
</style>

<div class="modal-header open-header">
    <h3 class="modal-title open-header-title" id="modal-title">{{ modeltitle }}</h3>
    <button type="button" ng-click="cancel()"  class="close open-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body open-body" ng-style="sceneBkStyle()" style="height: 470px;overflow: auto">
    <div ng-style="allComponentMarginBorder()">
        <div class="col-md-12" >
            <div class="col-md-3" ng-style="filterStyle()">
                <label class="col-md-4 labelTitle">过滤器一 ：</label>
                <input id="inputFilter" type="text" class="col-md-5 input-transparent">
            </div>
            <div class="col-md-4" ng-style="filterStyle()" style="margin-left: 10px">
                <label class="col-md-3 labelTitle">过滤器二 ：</label>
                <select id="selectFilter" class="form-control input-transparent" style="width: 150px">
                    <option>请选择过滤条件</option>
                    <option>过滤条件一</option>
                    <option>过滤条件二</option>
                    <option>过滤条件三</option>
                </select>
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <div id="barChart" class="col-md-6 chartsSize" ng-style="charStyle()"></div>
                <div id="pieChart" class="col-md-6 chartsSize" ng-style="charStyle()"></div>
            </div>
            <div class="col-md-12">
                <div id="scatterChart" class="col-md-6 chartsSize" ng-style="charStyle()"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer footer-btn">
    <button class="btn btn-primary btn-ok" type="button" ng-click="globalConfig()" style="width: 90px;">全局配置</button>
    <button class="btn btn-primary btn-ok" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning btn-cancel" type="button" ng-click="cancel()">取消</button>
</div>

<!--<editor-fold desc="全局配置弹窗">-->
<div class="global-config" ng-init="globalConfigType = 'style'" datax-panel-drag>
    <div class="modal-header open-header custom-header drag-title">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active':globalConfigType == 'style'}" ng-click="globalConfigType = 'style'"><a>全局样式</a></li>
            <li role="presentation" ng-class="{'active':globalConfigType == 'code'}" ng-click="globalConfigType = 'code'"><a>自定义代码段</a></li>
            <!--
            <li role="presentation" ng-class="{'active':globalConfigType == 'autoSave'}" ng-click="globalConfigType = 'autoSave'"><a>自动保存</a></li>
            -->
        </ul>
        <button type="button" ng-click="closeGlobalConfigPanel()" class="close open-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body open-body" style="max-height: 500px; overflow-y: auto; position: relative;">
        <form class="form-horizontal" ng-if="globalConfigType == 'style'">
            <div class="form-group">
                <label class="col-sm-3 control-label">全局背景样式配置：</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">背景色</label>
                <div class="col-sm-6">
                    <input colorpicker="rgba" colorpicker-parent="true"
                           class="form-control" ng-model="sceneConfigObj.options.globalStyle.backgroundColor" type="text">
                </div>
            </div>
            <div class="form-group" ng-init="useBgImg = false">
                <label class="col-sm-3 control-label">使用背景图</label>
                <div class="col-sm-6">
                    <input type="checkbox" ng-model="useBgImg" ng-change="isUseBgImg()">
                </div>
            </div>
            <div class="form-group" ng-if="useBgImg">
                <label class="col-sm-3 control-label">背景图</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="sceneConfigObj.options.globalStyle.backgroundImage">
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 btn btn-default" style="position: relative;">上传图片
                        <input style="width: 100%; position: absolute; top: 0; opacity: 0;"
                               type="file" id="scenesBgImg" custom-on-change="changePicture">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="useBgImg">
                <label class="col-sm-3 control-label">图片样式</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="sceneConfigObj.options.globalStyle.backgroundSize">
                        <option value="cover">按图片原长宽比拉伸并铺满背景</option>
                        <option value="100% 100%">直接拉伸铺满背景(图片长宽比会改变)</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="useBgImg">
                <label class="col-sm-3 control-label">已上传</label>
                <div class="col-sm-8">
                    <user-imgs imgs="imgs" refresh-method="refreshStyle()" img-model="sceneConfigObj.options.globalStyle.backgroundImage"></user-imgs>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">左右间距</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" ng-model="sceneConfigObj.options.componentMargin.marginLeft">
                </div>
                <label class="col-sm-2 control-label">上下间距</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" ng-model="sceneConfigObj.options.componentMargin.marginTop">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">文字颜色</label>
                <div class="col-sm-4">
                    <input colorpicker="rgba" colorpicker-parent="true" colorpicker-position="bottom"
                           class="form-control" ng-model="sceneConfigObj.options.globalStyle.color" type="text">
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="sceneConfigObj.options.syncFontColor">同步到子组件
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">组件背景样式配置：</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">组件背景色</label>
                <div class="col-sm-4">
                    <input colorpicker="rgba" colorpicker-parent="true" colorpicker-position="top"
                           class="form-control" ng-model="sceneConfigObj.options.chartStyle.backgroundColor" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">圆弧角度</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="sceneBorderRadius" ng-model="sceneConfigObj.options.chartStyle.borderRadius"
                                        ng-change="fixPx('sceneConfigObj.options.chartStyle.borderRadius', sceneConfigObj.options.chartStyle.borderRadius, 'sceneBorderRadius')">
                </div>
            </div>
            <div class="form-group" ng-init="sceneConfigObj.options.chartStyle.borderDisplay = false">
                <label class="col-sm-3 control-label">组件使用边框</label>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="sceneConfigObj.options.chartStyle.borderDisplay" ng-change="isUseCompBorder()"><!--把使用状态记录到数据库以便回显,记得这里的名字需要和场景设计里的名字一样-->
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.chartStyle.borderDisplay">
                <label class="col-sm-3 control-label">边框样式</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="sceneConfigObj.options.chartStyle.borderStyle">
                        <option ng-repeat="obj in borderStyles" value="{{ obj.value }}">{{ obj.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.chartStyle.borderDisplay">
                <label class="col-sm-3 control-label">边框宽度</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="compBorderWidth" ng-model="sceneConfigObj.options.chartStyle.borderWidth"
                                    ng-change="fixPx('sceneConfigObj.options.chartStyle.borderWidth', sceneConfigObj.options.chartStyle.borderWidth, 'compBorderWidth')">
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.chartStyle.borderDisplay">
                <label class="col-sm-3 control-label">边框颜色</label>
                <div class="col-sm-6">
                    <input colorpicker="rgba" colorpicker-parent="true" colorpicker-position="top"
                           class="form-control" ng-model="sceneConfigObj.options.chartStyle.borderColor" type="text">
                </div>
            </div>
            <div class="form-group" ng-init="useChartsBgImg = false">
                <label class="col-sm-3 control-label">组件使用背景图</label>
                <div class="col-sm-6">
                    <input type="checkbox" ng-model="useChartsBgImg" ng-change="isUseChartsBgImg()">
                </div>
            </div>
            <div class="form-group" ng-if="useChartsBgImg">
                <label class="col-sm-3 control-label">组件背景图</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="sceneConfigObj.options.chartStyle.backgroundImage">
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 btn btn-default" style="position: relative;">上传图片
                        <input style="width: 100%; position: absolute; top: 0; opacity: 0;"
                               type="file" id="chartsBgImg" custom-on-change="changeChartsPicture">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="useChartsBgImg">
                <label class="col-sm-3 control-label">图片样式</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="sceneConfigObj.options.chartStyle.backgroundSize">
                        <option value="cover">按图片原长宽比拉伸并铺满背景</option>
                        <option value="100% 100%">直接拉伸铺满背景(图片长宽比会改变)</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="useChartsBgImg">
                <label class="col-sm-3 control-label">已上传</label>
                <div class="col-sm-8">
                    <user-imgs imgs="charsimgs" refresh-method="refreshStyle()" img-model="sceneConfigObj.options.chartStyle.backgroundImage"></user-imgs>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">过滤器背景样式配置：</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">过滤器背景色</label>
                <div class="col-sm-4">
                    <input colorpicker="rgba" colorpicker-parent="true" colorpicker-position="top"
                           class="form-control" ng-model="sceneConfigObj.options.filterStyle.backgroundColor" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">过滤器文字颜色</label>
                <div class="col-sm-4">
                    <input colorpicker="rgba" colorpicker-parent="true" colorpicker-position="top"
                           class="form-control" ng-model="sceneConfigObj.options.filterStyle.color" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">圆弧角度</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="filterBorderRadius" ng-model="sceneConfigObj.options.filterStyle.borderRadius"
                                        ng-change="fixPx('sceneConfigObj.options.filterStyle.borderRadius', sceneConfigObj.options.filterStyle.borderRadius, 'filterBorderRadius')">
                </div>
            </div>
            <div class="form-group" ng-init="sceneConfigObj.options.filterStyle.borderDisplay = false">
                <label class="col-sm-3 control-label">使用边框</label>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="sceneConfigObj.options.filterStyle.borderDisplay" ng-change="isUseFilterBorder()"><!--把使用状态记录到数据库以便回显,记得这里的名字需要和场景设计里的名字一样-->
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.filterStyle.borderDisplay">
                <label class="col-sm-3 control-label">边框样式</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="sceneConfigObj.options.filterStyle.borderStyle">
                        <option ng-repeat="obj in borderStyles" value="{{ obj.value }}">{{ obj.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.filterStyle.borderDisplay">
                <label class="col-sm-3 control-label">边框宽度</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="filterBorderWidth" ng-model="sceneConfigObj.options.filterStyle.borderWidth"
                                    ng-change="fixPx('sceneConfigObj.options.filterStyle.borderWidth', sceneConfigObj.options.filterStyle.borderWidth, 'filterBorderWidth')">
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.filterStyle.borderDisplay">
                <label class="col-sm-3 control-label">边框颜色</label>
                <div class="col-sm-6">
                    <input colorpicker="rgba" colorpicker-parent="true" colorpicker-position="top"
                           class="form-control" ng-model="sceneConfigObj.options.filterStyle.borderColor" type="text">
                </div>
            </div>
            <div class="form-group" ng-init="sceneConfigObj.options.filterStyle.currCharsBgPicSts = false"><!--命名为currCharsBgPicSts是因为保持与场景设计里的变量名一致-->
                <label class="col-sm-3 control-label">使用背景图</label>
                <div class="col-sm-6">
                    <input type="checkbox" ng-model="sceneConfigObj.options.filterStyle.currCharsBgPicSts" ng-change="isUseFiltersBgImg()">
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.filterStyle.currCharsBgPicSts">
                <label class="col-sm-3 control-label">过滤器背景图</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="sceneConfigObj.options.filterStyle.backgroundImage">
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 btn btn-default" style="position: relative;">上传图片
                        <input style="width: 100%; position: absolute; top: 0; opacity: 0;"
                               type="file" id="chartsBgImg" custom-on-change="changeFiltersPicture">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.filterStyle.currCharsBgPicSts">
                <label class="col-sm-3 control-label">图片样式</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="sceneConfigObj.options.filterStyle.backgroundSize">
                        <option value="cover">按图片原长宽比拉伸并铺满背景</option>
                        <option value="100% 100%">直接拉伸铺满背景(图片长宽比会改变)</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="sceneConfigObj.options.filterStyle.currCharsBgPicSts">
                <label class="col-sm-3 control-label">已上传</label>
                <div class="col-sm-8">
                    <user-imgs imgs="charsimgs" refresh-method="refreshStyle()" img-model="sceneConfigObj.options.filterStyle.backgroundImage"></user-imgs>
                </div>
            </div>



        </form>
        <form class="form-horizontal" ng-if="globalConfigType == 'code'">
            <div class="form-group"></div>
            <div class="form-group selfDesignCodeToolBarStyle">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="updateCustomCode('addMethod')">增加函数</button>
                    <button class="btn btn-default" ng-click="updateCustomCode('userInfo')">获取用户信息</button>
                    <button class="btn btn-default" ng-click="updateCustomCode('refresh')">重置</button>
                </div>
            </div>
            <div class="form-group">
                <textarea style="width: 100%; height: 350px;" ng-model="sceneConfigObj.basicconfig.customConfig.customCode.code"></textarea>
            </div>
        </form>
        <form class="form-horizontal" ng-if="globalConfigType == 'autoSave'">
            <div class="form-group"></div>
            <div class="form-group">
                <div class="col-sm-3">
                    <input type="checkbox" ng-model="sceneConfigObj.basicconfig.customConfig.autoSave.active">是否开启(单位:秒)
                </div>
                <div class="col-sm-4" ng-if="sceneConfigObj.basicconfig.customConfig.autoSave.active">
                    <input type="number" class="form-control" ng-model="sceneConfigObj.basicconfig.customConfig.autoSave.interval">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer footer-btn">
        <button class="btn btn-warning btn-cancel" type="button" ng-click="closeGlobalConfigPanel()">关闭</button>
    </div>
</div>
<!--</editor-fold>-->
{% endverbatim %}
<script src="{% static 'system/chartsbgconfig/tempchartsdata.js' %}"></script>
<script type="text/javascript">
    function chartsInstance (type) {
        //柱状图
        let barDom=document.getElementById('barChart');
        let myBarChart=echarts.init(barDom);
        if (stackedHistogramOption && typeof stackedHistogramOption === "object") {
            if (type == 'refresh'){//如果是刷新数据，就随机产生一些图表的数据做显示
                let barDataLength = barData.length;
                //随机打乱barData再重新设置回去就实现了数据的更新
                let roundIndex1 = Math.floor(Math.random()*barDataLength);
                let roundIndex2 = Math.floor(Math.random()*barDataLength);
                let tempBarData = barData[roundIndex1].data;
                barData[roundIndex1].data = barData[roundIndex2].data;
                barData[roundIndex2].data = tempBarData;
                stackedHistogramOption.series = barData;
            }
            myBarChart.setOption(stackedHistogramOption, true);
        }
        //饼图
        let pieDom=document.getElementById('pieChart');
        let myPieChart=echarts.init(pieDom);
        if (pieOption && typeof pieOption === "object") {
            if (type == 'refresh'){//如果是刷新数据，就随机产生一些图表的数据做显示
                let pieDataLength = pieData[0].data.length;
                //随机打乱barData再重新设置回去就实现了数据的更新
                let roundIndex1 = Math.floor(Math.random()*pieDataLength);
                let roundIndex2 = Math.floor(Math.random()*pieDataLength);
                let tempPieData = pieData[0].data[roundIndex1];
                pieData[0].data[roundIndex1] = pieData[0].data[roundIndex2];
                pieData[0].data[roundIndex2] = tempPieData;
                pieOption.series = pieData;
            }
            myPieChart.setOption(pieOption, true);
        }
        //散点图
        let scatterDom=document.getElementById('scatterChart');
        let myScatterChart=echarts.init(scatterDom);
        if (scatterOption && typeof scatterOption === "object") {
            if (type == 'refresh'){//如果是刷新数据，就随机产生一些图表的数据做显示
                let data0Length = data[0].length;
                let data1Length = data[1].length;
                //随机打乱barData再重新设置回去就实现了数据的更新
                let roundIndex1 = Math.floor(Math.random()*data0Length);
                let roundIndex2 = Math.floor(Math.random()*data1Length);
                let tempData0 = data[0][roundIndex1];
                data[0][roundIndex1] = data[0][roundIndex2];
                data[0][roundIndex2] = tempData0;
                let tempData1 = data[1][roundIndex1];
                data[1][roundIndex1] = data[1][roundIndex2];
                data[1][roundIndex2] = tempData1;
                scatterOption.series[0].data = data[0];
                scatterOption.series[1].data = data[1];
            }
            myScatterChart.setOption(scatterOption, true);
        }
    }
    chartsInstance('init');//初始化三个图表
    $("#inputFilter,#selectFilter").on('change',function (e) {
        chartsInstance('refresh');
    });//监听filter

</script>